html {
  font-family: Montserrat, san-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Montserrat, san-serif;
  font-weight: normal;
  word-wrap: break-word;
}

header {
  position: absolute;
  top: 0px;
  left: 40px;
  right: 40px;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

main {
  background-color: #f8f8f8;
  position: absolute;
  min-height: 500px;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 2;
}

section {
  width: 100%;
  height: 100%;
  margin-bottom: 400px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  background-color: #f8f8f8;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 16px 2px #333;
}

main section:last-child {
  margin-bottom: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
summary {
  display: block;
}

a {
  color: #000;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

button {
  background: transparent;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: Montserrat, san-serif;
  cursor: pointer;
}

input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  border-style: none;
}

h1 {
  color: #fff;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 2.67rem;
  margin-bottom: 80px;
}

h2 {
  color: #000;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.33rem;
}

h3 {
  color: #000;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  color: #000;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.1rem;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 4px;
  color: #05386B;
  text-rendering: optimizeLegibility;
  font-size: 0.8rem;
  line-height: 1.2;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

ul {
  margin-left: 2.5rem;
  margin-right: 3.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}

p {
  color: #000;
  font-weight: 800;
  font-size: 0.67rem;
  line-height: 120%;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0px;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  border: solid 16px #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

hr {
  border-top: solid 1px black;
  width: 90%;
  align-self: center;
  -webkit-align-self: center;
}

strong {
  font-weight: bold;
}

p *:last-child {
  margin-bottom: 0;
}

h2 span {
  margin-left: 8px;
  font-size: 0.78rem;
}

li.resume {
  line-height: 150%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.72em;
  text-align: justify;
}

.column_ctr {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.column_space {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.row_space {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.nav_btn {
  color: #000;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 2px;
  position: relative;
}

.menu_btn {
  color: #000;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

.nav_btn::before,
.menu_btn::before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: -5%;
  width: 110%;
  height: 10px;
  background-color: rgba(155,202,188,0.5);
  z-index: -1;
  opacity: 1;
  transform: scale(0,1);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nav_btn:hover::before,
.menu_btn:hover::before {
  transform: scale(1,1);
}

#menu {
  position: fixed;
  min-height: 500px;
  top: 40px;
  left: 0px;
  bottom: 40px;
  width: 40px;

  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background: #fff;
  z-index: 10;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#menu_overlay {
  background-color: #05386b;
  position: fixed;
  min-height: 500px;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#menu.menu_open {
  width: 280px;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#menu_overlay.menu_overlay_open {
  opacity: 0.85;
  z-index: 2;
}

.video_overlay {
  background-color: #05386b;
  position: fixed;
  min-height: 500px;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  z-index: 2;
}

.video_content {
  height: 100%;
  width: 100%;
}

.rotate_neg_90 {
  transform: rotate(-90deg);
}

.sidebar {
  position: fixed;
  min-height: 500px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 40px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.title_container {
  background-color: #05386B;
  overflow: hidden;
}

.menu_header {
  visibility: hidden;
}

.home_page_content {
  width: 380px;
  margin-left: 20px;
  text-align: left;
}

#projects_container {
  width: 800px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  overflow: auto;
  scroll-behavior: smooth;
}

#resume_container.no_scroll,
#projects_container.no_scroll {
  overflow: hidden;
}

.mobile_img {
  background-color: transparent;
}

.project_img {
  box-shadow: 1px 2px 6px 2px #ccc;
}

.project_description {
  font-weight: 400;
}

.landscape_container {
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.landscape_content {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

.landscape_description {
  max-width: 375px;
  margin-bottom: 50px;
}

.landscape_img {
  width: 320px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.portrait_container {
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

.portait_content {
  flex: 1;
  -webkit-flex: 1;
}

.portrait_btns {
  margin-top: 10px;
}

.not_visible_small {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

.visible_small {
  display: none;
}

.portrait_img {
  width: 150px;
  margin-left: 20px;
  margin-bottom: 0px;
}

button.project_btn,
a.project_btn {
  color: #f8f8f8;
  background-color: #05386B;
  text-decoration: none;
  display: inline-block;
  font-size: 0.72rem;
  width: 120px;
  height: 36px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin: 10px;
  font-weight: 800;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

button.project_btn::before,
a.project_btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(0.1, 1);
}

button.project_btn::after,
a.project_btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.project_btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    background-color: rgba(255,255,255,0.1);
}

.project_btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.project_btn:hover div {
    letter-spacing: 1px;
    font-weight: 700;
}

.project_btn div {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar_btn {
  margin: 10px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}

a.sidebar_btn::before {
    content: '';
    background: #05386B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(6px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

a.sidebar_btn:hover::before {
    opacity: 1;
}

.now_page_small_header {
  width: 80%;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 10px;
}

.now_page_content {
  width: 80%;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 40px;
}

.resume_item_title {

  display: -webkit-flex;
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#resume {
  height: 100%;
}

#menu_btns {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#home_container {
  width: 650px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}

#scroll_txt {
  margin-top: 50px;
  margin-bottom: 8px;
}

#down_icon {
  width: 18px;
  height: 18px;
  margin-bottom: 10px;
  color: #000;
}

#video_container {
  margin-top: 5%;
  position: relative;
}

#now_container {
  width: 650px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  overflow: auto;
  scroll-behavior: smooth;
}

#now_anchor {
  margin-top: -60px;
  margin-bottom: 60px;
  color: #fff;
  font-weight: 800;
  font-size: 0.67rem;
}

#resume_container {
  background-color: #f8f8f8;
  width: 750px;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
}

#resume_content {
  margin-left: 20px;
  margin-right: 20px;
}

#portrait {
  width: 400px;
  margin-bottom: 0;
}

#video_close_btn {
  margin-bottom: 20px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

#video_close_btn:hover {
  transform: rotate(180deg);
}

#resume_title {
  position: sticky;
  position: -webkit-sticky;
  height: 50px;
  background-color: #f8f8f8;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  margin-right: 20px;
}

#resume_name {
  font-size: 1.75rem;
  text-decoration: none;
  margin-left: 10px;
}

#download_btn {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 800;
}

@media only screen and (max-width: 1199px){
  h1 {
    font-size: 2.0rem;
  }

  #projects_container {
    width: 650px;
  }

  .landscape_content {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  .landscape_img {
    width: 320px;
    margin-left: 0;
    align-self: center;
    -webkit-align-self: center;
  }

  .landscape_description {
    max-width: none;
    margin-bottom: 20px;
  }

  .second_img {
    display: none;
  }

  #home_container {
    width: 550px;
  }

  #now_container {
    width: 550px;
  }

  #resume_container {
    width: 650px;
  }
}

@media only screen and (max-width: 949px){
  h1 {
    font-size: 1.78rem;
  }

  #projects_container {
    width: 525px;
  }

  #home_container {
    width: 500px;
  }

  #now_container {
    width: 500px;
  }

  #resume_container {
    width: 500px;
  }
}

@media only screen and (min-width: 800px){
  .title_container {
    flex: 1;
    -webkit-flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
  }
}

@media only screen and (max-width: 799px){
  section {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }

  h1 {
    font-size: 1.56rem;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.167rem;
  }

  .nav_btn {
    letter-spacing: 0px;
  }

  .menu_header {
    visibility: visible;
  }

  .menu {
    visibility: hidden;
  }

  .title_container {
    height: 70px;
    width: 100%;
    padding-bottom: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
  }

  .landscape_container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .landscape_img {
    width: 70%;
  }

  .portrait_container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .portrait_img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .portrait_btns {
    margin-top: 0;
  }

  .second_img {
    display: block;
  }

  .resume_item_title {
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  .not_visible_small {
    display: none;
  }

  .visible_small {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    margin-top: 12px;
  }

  #home_container {
    width: 100%;
  }

  #projects_container,
  #now_container {
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
    order: 2;
    -webkit-order: 2;
  }

  #resume_container {
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
    align-self: center;
    -webkit-align-self: center;
  }

  #resume_name {
    font-size: 1.25rem;
    text-decoration: none;
  }

  #portrait {
    width: 320px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 549px){
  main {
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  header {
    left: 0px;
    right: 0px;
  }

  h1 {
    font-size: 1.33rem;
  }

  h4 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  h5 {
    font-size: 0.75rem;
  }

  li.resume {
    text-align: left;
  }

  #menu.menu_open {
    bottom: 0px;
    width: 250px;
  }

  .video_overlay {
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  #menu_overlay {
    bottom: 0px;
    right: 0px;
  }

  .sidebar {
    visibility: hidden;
  }

  .home_page_content {
    width: 85%;
  }

  .portrait_img {
    max-width: 150px;
    width: 40%;
  }

  #scroll_txt {
    display: none;
  }

  #down_icon {
    margin-top: 20px;
  }

  #resume_title {
    height: 60px;
    margin-right: 10px;
  }

  #download_btn {
    font-size: 0.56rem;
  }

  #portrait {
    width: 80%;
    margin-bottom: 0px;
  }
}

@media only screen and (max-height: 649px){
  #scroll_txt {
    margin-top: 00px;
  }
}


/* Mobile devices only */
@media (hover:none), (pointer:none), (pointer:coarse) {
  section {
    height: auto;
    min-height: 100%;
    margin-bottom: 0px;
    position: relative;
    box-shadow: none;
  }
}

/* ********** */
/* Animations */
/* ********** */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

#down_icon {
  animation: bounce 1.2s ease 1.5s infinite alternate;
}

#home_container {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}

h1 {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}